*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;

}

body{
    background: rgb(179, 41, 243);
}

header{
    display: grid;
    place-items: center;
    height: 12vh;
    background: rgb(50, 6, 92);
    color:white;
    text-shadow: 0 0 12px gray;
}

main{
    display: grid;
    place-items: center;
    height: 80vh;
}

h1{ 
    margin: 0;
    padding: 0;
    color: black;
}

#activity{
    width: 80vw;
    height: 60vh;
    border: 1px solid white;
    background: rgb(206, 63, 239);
    border-radius: 1rem;
    box-shadow: 0 0 12px 6px rgb(77, 14, 140);
    padding: 4rem;
}

footer{
    height: 8vh;
    display: grid ;
    place-items: center;
}

#fetch{
    border-radius: 1rem;
    color: rgb(253, 251, 255);
    background-color: rgb(8, 27, 136);
    
}