body{
    background-image:url(/assets/kina\ pige.jfif);
height: 100vh;
width: 100vw;
background-size: cover;
background-position: center center;
display:grid;
place-items: center;
}
h1{
    color: red;
    border: solid white 2px;
    text-align:center;
    place-items: center;
    width: 20vw;
    border-radius: 90%;
    padding: 2rem;
}